* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
}

.flex {
    display: flex;
}

.flexWrap {
    flex-wrap: wrap;
}

.justifyCenter {
    justify-content: center;
}

.alignCenter {
    align-items: center;
}

.justifySpaceBetween {
    justify-content: space-between;
}

.flexColumn {
    flex-direction: column;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(60, 60, 60);
    padding-top: 20px;
    padding-left: 5%;
    padding-bottom: 20px;
}

.container {
    width: 95%;
    background-color: lightgray;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.2);
}

.component {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.containerHeader {
    font-size: 20px;

}

.containerHeaderTwo {
    font-size: 16px;
}

.button {
    background-color: grey;
    width: 130px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
}

input {
    height: 25px;
    padding: 5px;
}


/* Product "block" */

.productInput {
    margin-top: 5px;
    max-width: 300px;
}

.sizeContainer {
    margin-top: 5px;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.sizeText {
    margin-right: 5px;
}

.sizeInput {
    width: 50px;
    text-align: right;
    text-decoration: none;
}

.categoryContainer {
    width: 170px;
    height: 220px;
    margin-right: 10px;
    margin-top: 5px;
    border: 1px solid black;
    padding:5px;
    border-radius: 10px;
}

.categoryImgContainer {
    height: 100px;
}

.categoryImg {
    max-width: 100%;
    max-height: 100px;
    object-fit: contain;
}

.categoryTitle {
    margin-top: 20px;
    font-size: 20px;
}

.categoryButton {
    width: 130px;
    height: 30px;
    margin-top: 30px;
    background-color: grey;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}



/* Newsletter block */

#newsBody{
    height: 100px;
    font-size: 15pt;
}

#newsResponse{
display: none;
}

/* Subscribers list */

#orderList{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 20px;
}

#emailList{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 20px;
}

.orderId, #orderStatus, #markAsSentBtns, #orderDate{
    display: flex;
    flex-direction: row;
    width: 200px;

}

.singleOrder{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.orderStatus{
    width: 200px;
    align-items: center;}

#subEmail, #subName{
    display: flex;
    flex-direction: column;

}

.name, .email, .order{
    font-size: large;
    display: flex;
    margin-top: 10px;
    text-align: center;
    
}


#subsContainer{
    display: flex;
    flex-direction: column;
}

.userContainer{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    padding: 10px;
    
    
}

.parentDiv{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}

li {
    font-size: 18px;
}


