@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
  font-family: 'Poppins', sans-serif;  }
  
/* TEXT FOR ITEMS IN CART */
.cartItem p {
  font-size: 1.5vw;
}
.cart-title h3{
  letter-spacing: 5px;
}
.cart-title {
  display: flex;
  justify-content: center;
  align-items: center;

}

.cartProductCard-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0 10%;
}

.cartProductCard-container {
display: flex;
}

.cartProductCard-wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cartItem{
  display: flex;
  align-items: center;
  width: 80%;
  background: #f7f7f7;
  height: 210px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  justify-content: space-around;
}

.cartItem-info > div {
  padding: 5px;
}
.cartItem-img img{
    width: 200px;
    height: 200px;
}


.freightContainer {
  background-color: rgba(0, 0, 0, 0.068);
  width: 80%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-top: 30px;
}
.freightContainer > h3 {
  padding: 0;
  margin:0;
}

.freightOptionContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.freightOptionTextContainer {
  width: 200px;
  color: rgba(0, 0, 0, 0.7);
}

.freightText {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
  margin:0;
  padding:0;
}

.freightButton {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: gray;
  box-shadow: 0 6px 16px 0 rgb(0 0 0 / 20%);
  padding: 12px 20px;
  cursor: pointer;

}

.freightButton:hover {
  opacity: 50%;
  transition: ease-in-out 200ms;
}


.checkout-container{
  width: 80%;

  margin: 2%;
}

.checkout-wrapper{
  width: 100%;
}


.checkout-info{
  background-color: rgba(0, 0, 0, 0.068);
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  
}

.checkout-info h3 {
  letter-spacing: 4px;
  padding: 4%;

}

.checkout-subtotal-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.checkout-discount-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.checkout-total-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: rgba(255, 255, 255, 0.493) solid 4px ;
  border-bottom: rgba(255, 255, 255, 0.493) solid 4px ;
  
}



.checkout-btn-wrapper {
  display: flex;
  justify-content: center;
  padding: 4%;
}
.checkout-btn{
  width: 250px;
  height: 50px;
  background-color: rgba(14, 14, 14, 0.712);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.checkout-payment{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  
}
.checkout-payment img{
  width: 200px;
  height: 40px;
}