@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
    background-color: #f8f8f8;
}

/* Remove hyperlink color */
a{
    text-decoration: none;
    color: black;
}

/* P tag text */

p{
    font-size: 10px;
    color: black;
    font-weight: 500;
}


/* Title */
h1 {

}

/* Category */
h2 {
    font-size: 1.5vw;
}

/* Product title */
h3{
    font-size: 2.5vw;
}

/* product description */
h4{
    font-size: 1.5vw;
    color: rgba(0, 0, 0, 0.7);
}

/* Navbar */
h5{
    font-size: 20px;
    color: black;
}

h6{
    font-size: 15px;
}

 
/*------Z-Index ---------*/ 
 
.zindexOne {
    z-index: 1;
}
.zindexTwo {
    z-index: 2;
}
.zindexThree {
    z-index: 3;
} 

/*--------BACKGROUND ---------*/ 
.background {
    top: 0;
    background-color: #f8f8f8;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
}



