/* ----------------Media Querris------------------------ */


@media only screen and (max-width: 1630px) {
   
    .productCard-container  {
        justify-content: space-between;
    }
   
    .productSwiper-container{
        height: 100%;
        order: 2;
        top: 20%;
    }
    
    .mySwiper {
        width: 550px;
        height: 450px;
      }

    .swiper-product-div img {
        display: block;
        width: 500px;
        
        object-fit:cover;
    }

    .productInfo-container {
        flex-direction: column;
       
        order: 1;
       
    }
    
    .productSize-container {
        flex-direction: column;    
        order: 3;
    }
    
    
    /* Title */
    h1 {

    }

    /* Category */
    h2 {

    }

    /* Product title */
    h3{

    }

    /* product description */
    h4 {

        color: rgba(0, 0, 0, 0.7);
    }


   /*  -------- CARTPAGE MQ -------- */

   /* cart Item text */
    .cartItem p {

      }


  .productSize-container {
    flex-direction: column;
    order: 3;
  }

  /* Title */
  h1 {
  }

  /* Category */
  h2 {

  }

  /* Product title */
  h3 {

  }

  /* product description */
  h4 {

    color: rgba(0, 0, 0, 0.7);
  }

  /*  -------- CARTPAGE MQ -------- */

  /* cart Item text */
  .cartItem p {
    font-size: 1.5vw;
  }

  /* ----------------NAVBAR----------- */

  

}

@media only screen and (max-width: 1439px) {
  .productCard-container {
    justify-content: space-evenly;
  }

  .productSwiper-container {
    height: 100%;
    order: 2;
    top: 20%;
  }

  .mySwiper {
    width: 550px;
    height: 550px;
  }

  .swiper-product-div img {
    display: block;
    width: 550px;

    object-fit: cover;
  }

  .productInfo-container {
    flex-direction: column;
    order: 1;
  }
  
  .productSize-container {
    flex-direction: column;
    order: 3;
  }

  /* Title */
  h1 {
  }

  /* Category */
  h2 {

  }

  /* Product title */
  h3 {

  }

  /* product description */
  h4 {

    color: rgba(0, 0, 0, 0.7);
  }

  /*  -------- CARTPAGE MQ -------- */

  /* cart Item text */
  .cartItem p {
    font-size: 1.5vw;
  }
}

@media only screen and (max-width: 1032px) {

  .productCard-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .cartItem-qty,
  .removeBtn {
    padding: 8px;
  }
  
 
  .productSwiper-container {
    order: 1;
  }
  .productCardInfo-MQ-container {
    order: 2;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
  }

  .productInfo-container{
    order:2;
    width: 100%;
  }
  .productSize-container {
    order:3;
    width: 100%;
  }
   
  .productAddToCart-btn-wrapper{
    width: 60%;
    justify-content: center;
  }

  .mySwiper {
    width: 450px;
    height: 450px;
  }

  .swiper-product-div img {
    display: block;
    width: 450px;

    object-fit: cover;
  }
  .productInfo-container {
    order: 1;
  }
  .productInfo-wrapper {
    justify-content: flex-start;
  }

  .productSize-container {
    order: 3;
  }

  /* Title */
  h1 {
  }
  

   h4 {


    color: rgba(0, 0, 0, 0.7);
  }

  /*  -------- CARTPAGE MQ -------- */

  /* cart Item text */
  .cartItem p {
    font-size: 20px;
  }


}

@media only screen and (max-width: 850px){
      
  
  /* MY ORDERS */

    .productCard {

        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .parentProductCard{
      display: flex;
      align-items: center;
      width: 90%;
    }
  
  
  
    .parentProductCardText {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      
    }
  
    .totalSum {
  
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 5px;
      align-items: center;
  
    }
  
    #receivedBtn {
      
      margin-right: 5px;
      padding:5px;
      font-weight: bold;
      font-size: 15px;
  
    }
  
    .orderStatusText{
      font-size: 20px;
    }
  
    .orderNrText {
  
    font-size: 20px;
    } 
  
    .orderdateText {
      font-size: 20px;
    }
  
    .productCardContainer {
      display: flex;
      align-items: center;
      width: 90%;
      
  
    }
  
    #pageBtnContainer {
  
      display: flex;
      justify-content: center;
      align-items: center;
    }
}


@media only screen and (max-width: 700px){
  .mySwiper {
    width: 450px;
    height: 450px;
  }
  .productCardInfo-MQ-container {
    order: 2;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
  }
    .swiper-product-div img {
    display: block;
    width: 450px;

    object-fit: cover;
  }
  .freightContainer,
  .checkout-container {
    width: 80%;
  }


  .cartItem p {
    font-size: 15px;
  }

  .cartProductCard-container {
    padding: 0;
  }

  .cartItem {
    width: 80%;
  }

  .cartItem {
    padding: 0;
    margin: 0;
  }

  .cartItem-img img {
    width: 100px;
    height: 100px;
  }

  .cartItem-qty,
  .removeBtn {
    padding: 8px;
  }

  .freightText {
    font-size: 15px;
  }


    .navBar-user{

        margin-left:10px;
    }

    #userNavIcon, .navBar-category{
        display:none;
    }

    #hambContainer {
    position: absolute;
    font-size: 30px;
    width: 100%;
    height: 100%;
    right: 0px;
    }
    

    #hambDropDown{
        display:flex;
        justify-content:flex-end;
        font-size:30px;
        
    }

    #brands div{
        display: flex;
        justify-content: center;
        align-items: center;

    }
   
    
}
 



@media only screen and (max-width: 500px) {
  .mySwiper {
    width: 350px;
    height: 350px;
  }

  .swiper-product-div img {
    display: block;
    width: 350px;

    object-fit: cover;
  }
  .productSize-container{
    width: 100%;
  }
  .productCardInfo-MQ-container {
    order: 2;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .productInfo-wrapper {
    justify-content: flex-start;
  }

  .swiper-footer-div img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .checkout-payment{
      display: flex;
      flex-direction: column;
  }

  .cartItem{
      width: 90%;
  }

  .cartItem p {
    font-size: 10px;
  }

  .freightText {
    font-size: 12px;
    margin-right: 5px;
  }

  .freightButton {
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: gray;
    box-shadow: 0 6px 16px 0 rgb(0 0 0 / 20%);
    padding: 10px 5px;
    cursor: pointer;
}

.freightContainer{
    width: 90%;
}

.checkout-container{
    width: 90%;
    margin-top: 25px;
}

.subContainer, .inputContainer{
    width: 90%;
}

  /* Title */
  .snapper h1 {
    font-size: 20px;
  }

  /* Category */
  h2 {
    font-size: 4vw;
  }

  /* Product title */
  h3 {

  }

  /* product description */
  h4 {

    color: rgba(0, 0, 0, 0.7);
  }
  
  #productSelect, #dataProductList, #dataRemoveCategoryList{
        width: 230px;
    }

    .orderdateText{
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .totalSum{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #bottomContainer h6{
      
      font-size: 10px;
    }

    #signUp{
      margin-top: 6px;
    }

    .card{
      box-shadow: none;
      min-height: 30vh;
    }

    #login{
      height: 60vh;
    }
}

