


/* ----------------Media Querris------------------------ */

@media only screen and (max-width: 1630px) {
   
    .productCard-container  {
      justify-content: space-evenly;
    }
   
    .productSwiper-container{
        height: 100%;
        order: 2;
        top: 20%;
    }
    
    .mySwiper {
        width: 550px;
        height: 450px;
      }

    .swiper-product-div img {
        display: block;
        width: 500px;
        
        object-fit:cover;
    }

    .productInfo-container {
        flex-direction: column;
       
        order: 1;
       
    }
    
    .productSize-container {
        flex-direction: column;    
        order: 3;
    }
    
    
    /* Title */
    h1 {

    }

    /* Category */
    h2 {
        font-size: 1.5vw;
    }

    /* Product title */
    h3{
        font-size: 2.5vw;
    }

    /* product description */
    h4{
        font-size: 1.5vw;
        color: rgba(0, 0, 0, 0.7);
    }


   /*  -------- CARTPAGE MQ -------- */

   /* cart Item text */
    .cartItem p {
        font-size: 1.5vw;
      }

}



@media only screen and (max-width: 1439px) {
   
    .productCard-container  {
      justify-content: space-evenly;
    }
   
    .productSwiper-container{
        height: 100%;
        order: 2;
        top: 20%;
    }
    
    .mySwiper {
        width: 550px;
        height: 550px;
      }

    .swiper-product-div img {
        display: block;
        width: 550px;
        
        object-fit:cover;
    }

    .productInfo-container {
        flex-direction: column;
       
        order: 1;
       
    }
    
    .productSize-container {
        flex-direction: column;    
        order: 3;
    }
    
    
    /* Title */
    h1 {

    }

    /* Category */
    h2 {
        font-size: 1.5vw;
    }

    /* Product title */
    h3{
        font-size: 2.5vw;
    }

    /* product description */
    h4{
        font-size: 1.5vw;
        color: rgba(0, 0, 0, 0.7);
    }

      /*  -------- CARTPAGE MQ -------- */

   /* cart Item text */
   .cartItem p {
    font-size: 1.5vw;
  }

}





@media only screen and (max-width: 1032px){
   
    .productCard-container  {
      justify-content: center;
    }
    
    .productSize-container{
        width: none;
    }
    .productSwiper-container{
      
        order: 1;
      
    }
    .productCardInfo-MQ-container {
        order: 2;
        display: flex;
        justify-content: center;
        
        width: 100%;
    }
    
    .mySwiper {
        width: 450px;
        height: 450px;
      }
    .swiper-product-div img {
        display: block;
        width: 450px;
        
        object-fit:cover;
    } 
    .swiper-footer-div img {
        display: block;
        width: 350px;
        height: 400px;
        
    }
    .productInfo-container {
        
        
        order: 1;
       
    }
    .productInfo-wrapper {
        justify-content: flex-start;
     }

     
    .productSize-container { order: 3; }

        
    /* Title */
    h1 {

    }

    /* Category */
    h2 {
        font-size: 3vw;
    }

    /* Product title */
    h3{
        font-size: 4vw;
    }

    /* product description */
    h4{
        font-size: 3vw;
        color: rgba(0, 0, 0, 0.7);
    }

      /*  -------- CARTPAGE MQ -------- */

   /* cart Item text */
   .cartItem p {
    font-size: 3vw;
  }
  .checkout-container {
     width: auto;
     margin: 10%;
  }

}


@media only screen and (max-width: 500px) {
   
    .mySwiper {
        width: 350px;
        height: 350px;
      }

      .swiper-product-div img {
        display: block;
        width: 350px;
        
        object-fit:cover;
    }

    .productCardInfo-MQ-container {
        order: 2;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }
    .productSize-container { order: 3; width: auto;}

    .productInfo-wrapper {
        justify-content: flex-start;
     }

      
    .swiper-footer-div img {
        display: block;
        width: 350px;
        height: 350px;
        
    }
    
    /* Title */
    h1 {

    }

    /* Category */
    h2 {
        font-size: 4vw;
    }

    /* Product title */
    h3{
        font-size: 6vw;
    }

    /* product description */
    h4{
        font-size: 4vw;
        color: rgba(0, 0, 0, 0.7);
    }

}