.navBar-container {
    display: flex;
    height: 80px;
    width: 100%;
    background-color: moccasin;
    justify-content: space-between;
    align-items: center;
}

.navBar-logo {
    width: 33%;
    padding: 0 4%;
}

.navBar-category {
    display: flex;
    justify-content: center;
    width: 33%;
}
.navBar-user {
    display: flex;
    width: 33%;
    justify-content: end;
    padding: 0 4%;
}

.userbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 4%;
    height: 70px;

}
.navbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 4%;
    height: 80px;
    
}

/*--------TEST DROPDOWN ---------*/ 

.dropdown {
    float: left;
    overflow: hidden;
  }
  
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
   
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
.navbar .dropdown-brand:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
  
    top:80px;
    max-width: 80%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
  }

.dropdown-brand img {
    width: 100px;
    height: 100px;
  }

.dropdown-content .dropdown-brand {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    text-align: left;
  }
  
.dropdown-content .dropdown-brand:hover {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
    display: flex;
}
