@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;800&display=swap");

* {
  font-family: "Heebo", sans-serif;
}



/* ---------- Product card WRAPPERS ----------- */
.productInfo-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.productPrice{
  font-size: 40px;
}

.productCardSize-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.productCardSize-wrapper p {
  font-size: 18px;
}

.productCardSize-wrapper h2,
.productCardSize-btn-wrapper,
.productAddToCart-btn-wrapper {
  padding: 4%;
}

.productAddToCart-btn-wrapper {
  display: flex;
  flex-direction: column;
}

.productAddToCart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: black;
  color: whitesmoke;
  border: gray;
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.25);
  padding: 12px 20px;
  cursor: pointer;
}

.productAddToCart-btn:hover{
  background-color: whitesmoke;
  color: black;
  transition: 200ms ease-in-out;
}

.productCardSize-btn-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.size-btn {
  margin: 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-top: 5px;
  box-sizing: border-box;
  border: gray;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 12px 20px;
  cursor: pointer;
}

.size-btn:hover{
  opacity: 50%;
  transition: ease-in-out 200ms;
}

/* ------------------------------------------------- */

/* ---------- Product card CONTAINER ----------- */
.productSwiper-container {
  order: 2;
}

.productCard-container {
  display: flex;
  
  align-items: center;
  justify-content: space-around;
  margin: 0 4%;
}

.productInfo-container {
  display: flex;
  order: 1;
  width: 400px;
}

.productSize-container {
  display: flex;
  order: 3;
  width: 350px;
}

.category-container {
  display: flex;
  justify-content: center;
  height: 400px;
  width: 80%;
  margin: auto;
}
.categorycard-wrapper {
  display: flex;
  border: 2px solid black;
  width: 10%;
  height: 100px;
}
/* ------------------------------------------------- */

/*------This is the css for the productCard layout---------*/

/*------SWIPER---------*/

.mySwiper {
  width: 800px;
  height: 600px;
  border-radius: 10%;
  position: absolute;
}

.swiper-product-div {
  text-align: center;
  font-size: 18px;
  background: #f7f7f7;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-product-div img {
  display: block;
  width: 600px;
  object-fit: cover;
  user-select: none;
}

.mySwiper {
  margin-left: auto;
  margin-right: auto;
}

/* -----------------swiper Category ------------------ */

.mySwiper2 {
  width: 100%;
  height: 100%;
}

.swiper-footer-div {
  text-align: center;
  font-size: 18px;
  background: #f7f7f7;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  cursor: pointer;
}

.swiper-footer-div img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}

.swiper-button-prev {
  background-color: transparent;
}

.swiper-button-next {
  background-color: transparent;
}

.swiper-button-prev::after {
  color: black;
  opacity: 50%;
  background-color: transparent;
}

.swiper-button-next::after {
  color: black;
  opacity: 50%;
  background-color: transparent;
}

.swiper-pagination {
  background-color: black;
  opacity: 0%;
}


